* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* outline: 1px solid red; */
}


/* OVERALL LAYOUT */
.parent {
  display: grid;
}
body {
 padding: 30px;
 background-color: rgb(223, 216, 195);
 min-height: 100vh;
}
.shelf-backing {
  background-color: rgb(248, 244, 235);
  border-radius: 10px;
}
h1 {
  justify-self: center;
  padding-top: 15px;
}
.shelf {
  padding: 30px;
  grid-template-columns: repeat(auto-fill, 150px);
  gap: 50px;
  font-family: sans-serif;
}


/* DIALOG and FORM */
dialog {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: min-content;
  border: none;
  padding: 20px;
  border-radius: 5px;
  min-width: min-content;
  font-family: sans-serif;
  border: 2px solid rgb(122, 122, 122);
}
dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
}
dialog > h1 {
  margin-bottom: 30px;
  padding: 0;
}
form {
  gap: 30px;
  align-content: center;
  height: 100%;
  grid-template-columns: repeat(2, minmax(150px, 200px));
  color: grey;
}
.title-div,
.author-div,
.read-status-div,
.dialog-btns {
  grid-column: 1/3;
}
.read-status-div {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
}
form div:nth-child(-n+5) {
  display:flex;
  flex-direction: column;
  gap: 3px;
  align-items: flex-start;
}
form div:nth-child(-n+5) input,
select {
  height: 40px;
  border: none;
  border-bottom: 2px solid lightgray;
  background-color: whitesmoke;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 10px;
  font-size: 16px;
  width: 100%;
}
form div:nth-child(-n+5) input:focus,
select:focus {
  outline: 2px solid rgb(44, 128, 255);
}
:disabled {
  background-color: lightgrey !important;
  box-shadow: inset 0 0 3px grey;
  border: none !important;
}
.dialog-btns {
  display: flex;
  justify-content: space-between;
}
.dialog-btns button {
  font-size: 16px;
  padding: 8px;
  border: none;
  border-radius: 5px;
}
button.add-book {
  background-color: rgb(48, 112, 48);
  color: white;
}
button.close-dialog {
  background-color: lightgrey;
}
.dialog-btns button:active {
  box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.5);
}


/* SHELF ITEMS */
button.open-dialog {
  background-color: rgba(65, 65, 65, 0.5);
  font-size: 100px;
  border: none;
  box-shadow: inset 3px 3px 10px rgba(0, 0, 0, 0.5);
}
button.open-dialog:active {
  background-color: rgba(0, 0, 0, 0.8);
}
button.open-dialog,
.book {
  border-radius: 5px;
}

.book {
  background-color: rgb(64, 79, 57);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
  text-align: center;
  min-height: 200px;
  position: relative;
  gap: 0.5em;
  font-size: 12px;
  color: white;
  height: 150px;
  grid-template-rows: repeat(5, min-content);
  align-content: center;
  justify-content: center;
  justify-items: center;
  padding: 20px;
}
button.remove {
  position: absolute;
  top: 5px;
  right: 5px;
  justify-self: right;
  height: 20px;
  width: 20px;
  border-radius: 50px;
  border: 2px solid black;
  color: black;
  background-color: rgb(225, 80, 80);
  margin-top: 1px;
}
button.remove:active {
  background: brown;
  opacity: 0.3;
}
.title {
  font-size: 1.5em;
}
.progress-bar,
.complete {
  margin-top: 30px;
}
button.edit-progress {
  width: min-content;
  padding: 2px 5px;
  border-radius: 5px;
  border: none;
  background-color: rgba(245, 222, 179, 0.5);
  font-size: 10px;
}
button.edit-progress:hover {
  background-color: rgb(245, 222, 179);
}
button.edit-progress:active {
  background-color: rgb(169, 153, 121);
}
.complete {
  display: flex;
  gap: 5px;
  font-style: italic;
  align-items: center;
  font-size: 1.3em;
}
.complete p {
  color: limegreen;
  font-size: 1.4em;
}