* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* outline: 1px solid red; */
}

.parent {
  display: grid;
}

body {
 padding: 30px;
 background-color: rgb(223, 216, 195);
 min-height: 100vh;
}

.shelf-backing {
  background-color: rgb(248, 244, 235);
  border-radius: 10px;
}

h1 {
  justify-self: center;
  padding-top: 15px;
}

dialog::backdrop {
  background-color: grey;
  opacity: 0.5;
}

.shelf {
  padding: 30px;
  grid-template-columns: repeat(auto-fill, 150px);
  gap: 50px;
  font-family: sans-serif;
}

button.open-dialog {
  background-color: rgba(65, 65, 65, 0.5);
  font-size: 100px;
  border: none;
  box-shadow: inset 3px 3px 10px rgba(0, 0, 0, 0.5);
}

button.open-dialog:active {
  background-color: rgba(0, 0, 0, 0.8);
}

button.open-dialog,
.book {
  border-radius: 5px;
}

.book {
  background-color: rgb(64, 79, 57);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
  text-align: center;
  min-height: 200px;
  position: relative;
  gap: 0.5em;
  font-size: 12px;
  color: white;
  height: 150px;
  grid-template-rows: repeat(5, min-content);
  align-content: center;
}

button.remove {
  position: absolute;
  top: 5px;
  right: 5px;
  justify-self: right;
  height: 20px;
  width: 20px;
  border-radius: 50px;
  border: 2px solid black;
  color: black;
  background-color: rgb(225, 80, 80);
  margin-top: 1px;
}

button.remove:active {
  background: brown;
  opacity: 0.3;
}

.title {
  font-size: 1.5em;
}

.author {
  font-size: 1em;
}